* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif");
  background-size: cover;
  overflow: hidden;
}
ul li {
  display: inline-block;
  text-align: center;
  margin: 10px 15px;
  list-style: none;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: antiquewhite;
  padding: 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-repeat: repeat;
}
.nav-div li {
  padding: 20px;
}
.logo img {
  height: 50px;
  width: 50px;
}
.hero-section {
  margin-left: 280px;
  margin-top: 80px;
  font-size: 30px;
  font-family: "Nunito", "Helvetica", "Arial", "sans-serif";
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: antiquewhite;
}
.nav-div2 {
  margin-top: 15px;
}
h1 {
  margin-bottom: 60px;
}
.btns button{
  background-color:#1adb80 ;
  padding: 15px 36px;
  border-radius: 5px;
  font-weight: 400;
  color: #222;
  text-align: left;
  text-transform: uppercase;
  border-color: #1adb80;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 15px;
  
}
.new-img{
position: absolute;
  width: 560px;
  margin-bottom: 10px;
  top: 20%;
  right: 10%;
}
@keyframes move {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 1920px;
  }
}
@keyframes move-reversed {
  0% {
    background-position: 1920px;
  }
  100% {
    background-position: 0%;
  }
}
/* .footer img{
  margin-top: 140px;
  animation: move_wave 10s linear infinite;
  position: absolute;
  overflow: hidden;
  position: absolute;
 
} */
/* .footer{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("Assets/") no-repeat center
    center/cover;
} */

.footer .wave {
  position: absolute;
  width: 100%;
  height: 227px;
  bottom: 0;
  left: 0;
  background: url("Assets/wave-large.png");
  animation: move 10s linear infinite;
}

.footer .wave::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 227px;
  top: 0;
  left: 0;
  background: url("Assets/wave-large.png");
  opacity: 0.4;
  animation: move-reversed 10s linear infinite;
}
.footer .wave::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 227px;
  top: 0;
  left: 0;
  background: url("Assets/wave-large.png");
  opacity: 0.5;
  animation-delay: -4s;
  animation: move 10s linear infinite;
}
